<p style="color: green"><%= notice %></p>
<div class="container">
  <%# Rendering _garden partial with garden instance variable %>
  <%= render @garden %>

  <%# Show @garden's plants  %>
  <div class="plants-container">
    <% @plants.each  do |plant|%>
      <div class="plant-card" 
        style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= plant.image_url %>');">
        <h1><%= plant.name %></h1>

        <%# Delete plant %>
        <%# Originally, we had garden_plant_path(@garden, plant) because we had nested plant's destroy method in garden in routes.rb  
            This is not necessary because we only need the plant's id. Revisit routes.rb to see the change. %>
        <%= link_to plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "color: white;" do %>
          Delete ❌
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="plant-form">
    <%= simple_form_for([@garden, @plant]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :name, placeholder: "Your plant baby's name" %>
        <%= f.input :image_url, label: "Image", placeholder: "https://www.image_url.com" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Add Plant", class: "btn-success" %>
      </div>
    <% end %>
  </div>

  </div>
</div>